<span class="flex cursor-pointer">
  {{ $linkTitle := . }}
  {{ $useSecondaryColor := false }}
  {{ if (reflect.IsMap . ) }}
    {{ $linkTitle = .linkTitle }}
    {{ $useSecondaryColor = cond (not .useSecondaryColor) false .useSecondaryColor }}
  {{ end }}
  {{ if $useSecondaryColor }}
    <span
      class="rounded-md border border-secondary-500 px-1 py-[1px] text-xs font-normal text-secondary-800 dark:border-secondary-700 dark:text-secondary-500">
  {{ else }}
    <span
      class="rounded-md border border-primary-500 px-1 py-[1px] text-xs font-normal text-primary-800 dark:border-primary-700 dark:text-primary-500">
  {{ end }}
    {{ $linkTitle }}
  </span>
</span>
